.mainWrapper {
	display: flex;
	justify-content: space-between;
	position: absolute;
	padding-top: 30px;
	color: white;
	width: 70%;
	z-index: 2;
}

.route {
	width: 429px;
	display: flex;
	justify-content: space-between;
	a {
		text-transform: uppercase;
	}
}
