@import "../../styles/main.scss";

.mainWrapper {
	// border: 1px solid red;
	height: 729px;
	width: 100vw;
	position: relative;
	background-color: $secondaryColor;
	z-index: 1;
	display: flex;
	background: url("/images/image-hero.jpg") center;
}

.leftWrapper {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rightWrapper {
	width: 50%;
	border: 2px solid orange;
	height: 100%;
	display: flex;
	align-items: center;
}

.wrapper {
	width: 70%;
	height: 722px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
