.mainWrapper {
    background-color: #f1f1f1;
    width: 350px;
    height: 204px;
    border-radius: 10px;
}

.img {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 100px;
}

.wrapper {
    width: 350px;
    height: 276px;
}
